{% extends "app/base.html" %}
{% load static %}
{% block head %}
<meta name="description" content="Мы бурим с 1830 года. Делаем дёшево, качественно, а главное - глубоко">
<title>О компании</title>
{% endblock head %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col about">
            <div class="about-description"><span class="colorful-2">О компании</span></div>
        </div>
    </div>
    <div class="container about-text mt-3">
        <h2> <span class="colorful" style="font-size: 40px;">WellDrill<span style="font-size:14px;vertical-align: top;">®</span></span> - крупнейшая бурильная компания на планете </h2>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea tempore, delectus non alias impedit
            perspiciatis. Ipsa neque commodi iure sequi distinctio quis quam blanditiis quaerat doloribus delectus
            corrupti, enim eos.
            Nihil soluta nemo, quisquam est illo distinctio consectetur, quos quaerat ea aut nulla pariatur repellendus.
            Quia odio doloremque, omnis dignissimos, nostrum impedit mollitia numquam sint tempora fugit eos obcaecati
            quaerat?
            Quod odit accusamus voluptatibus repellat cumque nesciunt.</p>
        <p>Itaque quis et architecto repudiandae ipsam culpa laudantium necessitatibus nobis facilis quod dignissimos
            iusto eos pariatur, ea doloribus soluta sunt sequi! Iusto, illum.
            Facilis minus animi blanditiis aliquid nihil quasi veniam aut similique natus. Iste qui optio alias, eum
            perferendis earum possimus rem ullam corrupti cum fugit modi nam commodi laudantium eos dolore!
            Labore recusandae earum rerum illo.</p>
        <p>
            Voluptatum enim corrupti quos tenetur rem animi, voluptatem unde incidunt itaque repudiandae sint doloremque
            suscipit mollitia fugiat ut sunt sequi aliquid ipsum odio! Quos, sapiente.
            Rem nobis excepturi nisi facilis! Atque reprehenderit exercitationem quisquam asperiores illum dolorum
            facilis beatae aliquam laborum modi rem architecto reiciendis est dolores ipsa debitis, ratione facere
            tempore voluptates vel fuga?
            Illum maxime ut modi, eveniet aliquam nesciunt, numquam minima expedita doloribus, vitae dolor! Atque vel
            quis recusandae ratione unde obcaecati, aut inventore itaque. Soluta dolores odio quidem minima ab neque!
            Quidem temporibus voluptatem dolores mollitia quis itaque optio facere minus beatae iure, perspiciatis
            voluptates ut debitis laborum provident odit et hic. Debitis non fugiat provident veniam deserunt maxime est
            saepe.
            Aperiam voluptate inventore sed officia.
        </p>
        <p>
            Asperiores, quis quibusdam. Quae dolor sunt temporibus exercitationem laudantium distinctio, nihil vitae
            amet optio, qui sit deserunt fuga laboriosam, ad assumenda! Quibusdam itaque commodi aspernatur.
            Eligendi fugiat, quod architecto ea obcaecati corporis praesentium in, aliquam repellat, accusamus ex
            delectus aspernatur soluta eum at assumenda quibusdam fuga neque atque! Fugiat ipsum natus numquam quos,
            laudantium debitis.</p>

        </p>
    </div>
</div>
{% endblock content %}