{% extends "app/base.html" %}
{% load static %}
{% block head %}
<meta name="description" content="WellDrill главная страница">
<title>WellDrill официальный веб-сайт</title>
{% endblock head %}
{% block content %}
<div class="container">
  <h1 id="auto-text" class="auto-text"></h1>
  <div id="carouselExampleCaptions" class="carousel slide mt-4 d-none d-md-block" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner rounded">
      <div class="carousel-item active my-bottom">
        <img src="{% static 'app/images/carousel-1.jpg' %}" class="d-block w-100" alt="Машина для бурения WellDrill">
        <div class="carousel-caption d-none d-md-block car-1">
          <h5 class="my-bg-grey">Бурим глубоко</h5>
          <p class="my-bg-grey">Мы бурим настолько глубоко, насколько это нужно</p>
        </div>
      </div>
      <div class="carousel-item my-bottom">
        <img src="{% static 'app/images/carousel-2.jpg' %}" class="d-block w-100"
          alt="Процесс бурения в компании WellDrill">
        <div class="carousel-caption d-none d-md-block car-2">
          <h5 class="my-bg-grey">Выкачиваем</h5>
          <p class="my-bg-grey">Выкачиваем из-под земли чистейшую воду</p>
        </div>
      </div>
      <div class="carousel-item my-bottom-2">
        <img src="{% static 'app/images/carousel-3.jpg' %}" class="d-block w-100" alt="Бурением скважины на воде">
        <div class="carousel-caption d-none d-md-block car-3">
          <h5 class="my-bg-grey">В любое время</h5>
          <p class="my-bg-grey">Работаем круглые сутки до результата</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row justify-content-center">
    
    <a href="{% url 'app:service-burenie' %}" class="no-underline col-3 fw-bold my-square me-3 rounded">
      <p class="my-square-text">БУРЕНИЕ</p>
      <p class="my-hover-text">Подробнее></p>
    </a>
    <a href="{% url 'app:service-sverlenie' %}" class="no-underline col-3 fw-bold my-square-2 me-3 rounded">
      
      <p class="my-square-text">Сверление</p>
      <p class="my-hover-text">Подробнее></p>
    
    </a>
    <div class="col-3 fw-bold my-square rounded">
      <p class="my-square-text">КАНАЛИЗАЦИЯ</p>
      <p class="my-hover-text">(пока не кликабельно)</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 fw-bold my-square-2 me-3 rounded">
      <p class="my-square-text">ОТОПЛЕНИЕ</p>
      <p class="my-hover-text">(пока не кликабельно)</p>
    </div>
    <div class="col-3 fw-bold my-square me-3 rounded">
      <p class="my-square-text">БУРЕНИЕ СКВАЖИН НА ВОДУ В РАССРОЧКУ</p>
      <p class="my-hover-text-2">(пока не кликабельно)</p>
    </div>
    <div class="col-3 fw-bold my-square-2 rounded">
      <p class="my-square-text">АРЕНДА ТЕХНИКИ</p>
      <p class="my-hover-text">(пока не кликабельно)</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 fw-bold my-square me-3 rounded">
      <p class="my-square-text">ВОДООЧИСТКА</p>
      <p class="my-hover-text">(пока не кликабельно)</p>
    </div>
    <div class="col-3 fw-bold my-square-2 me-3 rounded">
      <p class="my-square-text">СЕРВИСНОЕ ОБСЛУЖИВАНИЕ</p>
      <p class="my-hover-text">(пока не кликабельно)</p>
    </div>
    <div class="col-3 fw-bold my-square rounded">
      <p class="my-square-text">СТРОИТЕЛЬСТВО ДОМОВ</p>
      <p class="my-hover-text">(пока не кликабельно)</p>
    </div>
  </div>

</div>
{% endblock content %}