{% extends "app/base.html" %}
{% load static %}
{% block head %}
<meta name="description" content="Чтобы высверлить дыру, мы нанимаем кенгуру">
<title>Сверление в компании WellDrill</title>
{% endblock head %}
{% block content %}
<div class="container-fluid ps-5 py-3" style="background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(0, 132, 255) 100%);">
    <div class="container">
        <h1 style="font-weight: bold;">СВЕРЛЕНИЕ</h1>
    </div>
</div>
<div class="container about-text py-3">
    <div class="text-sverlenie">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam quas incidunt sunt perferendis beatae
            consequuntur
            exercitationem, accusantium dignissimos iure numquam maxime. A animi architecto accusantium. Molestias
            possimus
            ipsam eum nisi. Orro odio quibusdam mollitia debiti. Ullam, dignissimos inventore eos hic, neque rem quis? Sunt tenetur delectus nulla consequatur alias possimus. Orro odio quibusdam mollitia debiti.</p>
        <div class="sverlenie-image"><img src="{% static 'app/images/XXL.jpg' %}"
                class="img-fluid img-thumbnail rounded" alt="Схема бурения скважины наглядно"></div>
        <p>Porro odio quibusdam dicta quaerat molestiae commodi consectetur hic explicabo delectus dolores, incidunt
            necessitatibus eaque tempora. Dolor nobis sunt eos maxime vitae sit repellendus unde. Nemo nam quod
            accusamus
            quisquam?</p>
        <p>Sit voluptatibus mollitia debitis quia delectus nam, atque libero! Autem, recusandae non accusamus expedita
            ullam, dignissimos inventore eos hic, neque rem quis? Sunt tenetur delectus nulla consequatur alias possimus    ullam, dignissimos inventore eos hic, neque rem quis? Sunt tenetur delectus nulla consequatur alias possimus
            nesciunt!</p>
        <p>Sit voluptatibus mollitia debitis quia delectus nam, atque libero! Autem, recusandae non accusamus expedita
            ullam, dignissimos inventore eos hic, neque rem quis? Sunt tenetur delectus nulla consequatur alias possimus
            nesciunt!</p>
        <p>Porro odio quibusdam dicta quaerat molestiae commodi consectetur hic explicabo delectus dolores, incidunt
            necessitatibus eaque tempora. Dolor nobis sunt eos maxime vitae sit repellendus unde. Nemo nam quod
            accusamus
            quisquam?    ullam, dignissimos inventore eos hic, neque rem quis? Sunt tenetur delectus nulla consequatur alias possimus</p>
        <p>Sit voluptatibus mollitia debitis quia delectus nam, atque libero! Autem, recusandae non accusamus expedita
            ullam, dignissimos inventore eos hic, neque rem quis? Sunt tenetur delectus nulla consequatur alias possimus
            nesciunt!</p>
        <p>Sit voluptatibus mollitia debitis quia delectus nam, atque libero! Autem, recusandae non accusamus expedita
            ullam, dignissimos inventore eos hic, neque rem quis? Sunt tenetur delectus nulla consequatur alias possimus
            nesciunt!</p>
        <p>Porro odio quibusdam dicta quaerat molestiae commodi consectetur hic explicabo delectus dolores, incidunt
            necessitatibus eaque tempora. Dolor nobis sunt eos maxime vitae sit repellendus unde. Nemo nam quod
            accusamus
            quisquam?</p>
    </div>

</div>
{% endblock content %}